* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* element styles */ 
a {
    color: #ffffff;
    text-decoration: none;
}

article {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 20px;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    padding: 20px;
}

header {
    margin-bottom: 30px;
    background-color: #2a607c;
}

header h1 {
    font-size: 48px;
    color: #ffffff;
}

header h1 .seo {
    color: #59c9a5;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #59c9a5;
    text-align: center;
}

header nav a {
    padding: 20px 10px;
    color: #000000;
}

header nav a:hover {
    background-color: #287B5F;
    color: #ffffff;
}

main {
    margin: 70px auto 0;
}

section {
    margin-bottom: 30px;
}

/* oo classes */
.hero {
    height: 520px;
    width: 100%;
    background: url("../images/digital-marketing-meeting.jpg") no-repeat fixed center;
    background-size: cover;
}

.divider {
    margin: 60px auto;
    width: 80%;
    border-top: 3px solid #287B5F;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.benefit {
    margin: 0 15px 30px;
    padding: 20px 40px;
    flex: 1;
    border: 2px solid #2E4A76;
    border-radius: 10px;
    color: #000000;
    text-align: center;
}

.benefits h2 {
    text-align: center;
}

.benefits img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

.contents {    
    display: flex;
    flex-wrap: wrap;
}

.contents img {
    width: 50%;
}

.content-wrap { 
    display: flex;
    padding: 0 50px;
    flex: 1;
    flex-wrap: wrap;
    align-self: stretch;
    align-content: center;
}

.content:nth-of-type(odd) .content-wrap {
    background-color:#2E4A76;
    color: #ffffff;
}

.content-wrap h3 {
    padding: 20px 0;
    font-size: 36px;
    line-height: 40px;
}

footer {
    margin-top: 60px;
    padding: 15px 0;
    font-size: 12px;
    text-align: center;
    background-color: #1E1C21;
    color: #ffffff;
}

.home {
    position: fixed;
    bottom: 40px;
    right: 25px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #555555;
    border-radius: 50px;
    text-align: center;
    z-index: 999;
}

.home img {
    width: 30px;
    height: auto;
}

.home div {
    color: #000000;
}

/* media queries */
@media screen and (min-width: 1200px) {    
    main {
        width: 1200px;
    }
}

@media screen and (min-width: 992px) {
    .content:nth-of-type(even) img {
        order: 2;
    }
}

@media screen and (max-width: 992px) {
    .benefit {
        flex: 0 0 33%;
    }

    .contents img {
        width: 100%;
    }

    .content-wrap {
        padding: 50px;
    }
  }
  
  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
    }    
  }
  
  @media screen and (max-width: 576px) {
    .benefit {
        flex: 1;
    }
  }